@tailwind base;
@tailwind components;
@tailwind utilities;

.handle-col {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: move;
  transform: translate(0%, -50%);
  z-index: 1;
 }

 .handle-row {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: move;
  transform: translate(-50%, 0%);
  z-index: 1;
 }

 .pie-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 12px;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  aspect-ratio: 1/1;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.fade-in {
  animation: fadeIn 0.15s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  user-select: none;
  box-sizing: border-box;
}
